build_test_server.sh
build_test_client.sh
Makefile_test_server
Makefile_test_client
networkmanager.sdf
networkmanager.VC.db
structure.uxf
.vs/networkmanager/v15/ipch/AutoPCH/ce6672f820c2209f/CL_NWM_PACKETS.ipch
.vs/networkmanager/v15/ipch/AutoPCH/c700d78ae60e39f5/CL_NWM_TCPCONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/bc4b65368d693e2a/NWM_TCPCONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/b46a88d3d3a92c01/NWM_MANAGER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/b2192d7572f3a544/CL_NWM_MANAGER_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/b1e165769ec45b6a/CL_NWM_CONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/b11f5746725922b5/NWM_IO_BASE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/a7445f27eaaa1de3/NWM_UDP_IO_BASE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/a43dd27f84b0b585/SV_NWM_SERVERCLIENT_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/95eb2120f05c0681/UDP_MESSAGE_RECEIVER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/9506fad932391b7f/NWM_TCP_IO.ipch
.vs/networkmanager/v15/ipch/AutoPCH/8b3e5bf8ae8d6304/NWM_UDPCONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/7e41ade6319d891e/SV_NWM_TCP_SESSION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/678bfcc5ee94dff3/UDP_MESSAGE_DISPATCHER_MESSAGE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/64aaef1486ad0d1d/NWM_EVENT_BASE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/5bfb1af8b169cced/UDP_MESSAGE_BASE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/58b61837c6b2bfa0/SV_NWM_UDP_SESSION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/54f8df925be6e7e2/SV_NWM_MANAGER_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/41f2d6104594782e/SV_NWM_CONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/3d6057057c05c02/SV_NWM_RECIPIENTFILTER_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/36eb6fbd568233de/NWM_ERROR_HANDLE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/2e2078b73b662f38/UDP_MESSAGE_HANDLER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/284724070352b8e3/NWM_MANAGER_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/1fb72e632ae175b7/NWM_IO.ipch
.vs/networkmanager/v15/ipch/AutoPCH/19bf5abc0da25b5d/NWM_CONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/12218fdc3e1addb/NWM_PACKET.ipch
.vs/networkmanager/v15/Solution.VC.db
.vs/networkmanager/v15/Browse.VC.db
.vs/networkmanager/v15/ipch/AutoPCH/fc3f59fcf995db85/SV_NWM_SESSIONHANDLE_LEGACY.ipch
.vs/networkmanager/v15/ipch/AutoPCH/fbb84bcf746a1e97/SV_NWM_PACKETS.ipch
.vs/networkmanager/v15/ipch/AutoPCH/fa5196e60f6354b9/SV_NWM_PACKETS.ipch
.vs/networkmanager/v15/ipch/AutoPCH/f9e78d2d69360c76/CL_NWM_MANAGER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/f88a6ea3fc20bce0/SV_NWM_MANAGER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/ed1be9832b9589b7/NWM_IO_HEADER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/ebb2f2843fda7b8/NWM_ENDPOINT.ipch
.vs/networkmanager/v15/ipch/AutoPCH/e51bd952a6778d28/SV_NWM_CLIENTHANDLE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/e1d3d9c63bf4c955/SV_NWM_SESSION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/e13c5d7111385012/SV_NWM_CONNECTION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/e11fc864e3efc107/UDP_MESSAGE_DISPATCHER.ipch
.vs/networkmanager/v15/ipch/AutoPCH/e0d0ac1babae1f54/SV_NWM_UDP_SESSION.ipch
.vs/networkmanager/v15/ipch/AutoPCH/d48c0e571d7c171a/NWM_TRANSFERRATE.ipch
.vs/networkmanager/v15/ipch/AutoPCH/d351cae9deaa0e5b/CL_NWM_UDPCONNECTION.ipch
clientmanager/cl_nwm_udpconnection.o
clientmanager/cl_nwm_tcpconnection.o
clientmanager/cl_nwm_packets.o
clientmanager/cl_nwm_manager.o
clientmanager/cl_nwm_connection.o
clientmanager/x64/Release_static/clientmanager.tlog/CL.command.1.tlog
clientmanager/Release/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/Release/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/Release/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/Release/clientmanager.tlog/CL.write.1.tlog
clientmanager/Release/clientmanager.tlog/CL.read.1.tlog
clientmanager/Release/clientmanager.tlog/CL.command.1.tlog
clientmanager/Debug_static/clientmanager.tlog/lib.command.1.tlog
clientmanager/Debug_static/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/Debug_static/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/Debug_static/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/Debug_static/clientmanager.tlog/CL.write.1.tlog
clientmanager/Debug_static/clientmanager.tlog/CL.read.1.tlog
clientmanager/Debug_static/clientmanager.tlog/CL.command.1.tlog
clientmanager/Debug_static/clientmanager.idb
clientmanager/Debug/clientmanager.tlog/lib.command.1.tlog
clientmanager/Debug/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/Debug/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/Debug/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/Debug/clientmanager.tlog/CL.write.1.tlog
clientmanager/Debug/clientmanager.tlog/CL.read.1.tlog
clientmanager/Debug/clientmanager.tlog/CL.command.1.tlog
clientmanager/Debug/clientmanager.idb
clientmanager/x64/Release/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/x64/Release/clientmanager.tlog/Lib.command.1.tlog
clientmanager/x64/Release/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/x64/Release/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/x64/Release/clientmanager.tlog/CL.write.1.tlog
clientmanager/x64/Release/clientmanager.tlog/CL.read.1.tlog
clientmanager/x64/Release/clientmanager.tlog/CL.command.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/lib.command.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/x64/Debug_static/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/CL.write.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/CL.read.1.tlog
clientmanager/x64/Debug_static/clientmanager.tlog/CL.command.1.tlog
clientmanager/x64/Debug_static/clientmanager.idb
clientmanager/x64/Debug/clientmanager.tlog/lib.command.1.tlog
clientmanager/x64/Debug/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/x64/Debug/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/x64/Debug/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/x64/Debug/clientmanager.tlog/CL.write.1.tlog
clientmanager/x64/Debug/clientmanager.tlog/CL.read.1.tlog
clientmanager/x64/Debug/clientmanager.tlog/CL.command.1.tlog
clientmanager/x64/Debug/clientmanager.idb
clientmanager/Release_static/clientmanager.tlog/lib.command.1.tlog
clientmanager/Release_static/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/Release_static/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/Release_static/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/Release_static/clientmanager.tlog/CL.write.1.tlog
clientmanager/Release_static/clientmanager.tlog/CL.read.1.tlog
clientmanager/Release_static/clientmanager.tlog/CL.command.1.tlog
clientmanager/Release/clientmanager.tlog/lib.command.1.tlog
clientmanager/x64/Release_static/clientmanager.tlog/lib.command.1.tlog
clientmanager/x64/Release_static/clientmanager.tlog/clientmanager.lastbuildstate
clientmanager/x64/Release_static/clientmanager.tlog/Lib-link.write.1.tlog
clientmanager/x64/Release_static/clientmanager.tlog/Lib-link.read.1.tlog
clientmanager/x64/Release_static/clientmanager.tlog/CL.write.1.tlog
clientmanager/x64/Release_static/clientmanager.tlog/CL.read.1.tlog
lib/libnetworkmanager_x64.a
lib/libclientmanager_x64.a
lib/libservermanager_x64.a
networkmanager/Release_static/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/Release_static/networkmanager.tlog/CL.write.1.tlog
networkmanager/Release_static/networkmanager.tlog/CL.read.1.tlog
networkmanager/Release_static/networkmanager.tlog/CL.command.1.tlog
networkmanager/Release/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/Release/networkmanager.tlog/lib.command.1.tlog
networkmanager/Release/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/Release/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/Release/networkmanager.tlog/CL.write.1.tlog
networkmanager/Release/networkmanager.tlog/CL.read.1.tlog
networkmanager/Release/networkmanager.tlog/CL.command.1.tlog
networkmanager/Debug_static/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/x64/Debug/networkmanager.tlog/CL.write.1.tlog
networkmanager/x64/Debug/networkmanager.tlog/CL.read.1.tlog
networkmanager/x64/Debug/networkmanager.tlog/CL.command.1.tlog
networkmanager/x64/Debug/networkmanager.idb
networkmanager/udp_message_receiver.o
networkmanager/udp_message_handler.o
networkmanager/udp_message_dispatcher_message.o
networkmanager/udp_message_dispatcher.o
networkmanager/udp_message_base.o
networkmanager/nwm_udpconnection.o
networkmanager/nwm_udp_io_base.o
networkmanager/nwm_udp_io.o
networkmanager/nwm_transferrate.o
networkmanager/nwm_tcpconnection.o
networkmanager/nwm_tcp_io.o
networkmanager/nwm_packet.o
networkmanager/nwm_manager.o
networkmanager/nwm_io_header.o
networkmanager/nwm_io_base.o
networkmanager/nwm_io.o
networkmanager/nwm_event_base.o
networkmanager/nwm_error_handle.o
networkmanager/nwm_endpoint.o
networkmanager/nwm_connection.o
networkmanager/Release_static/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/Release_static/networkmanager.tlog/lib.command.1.tlog
networkmanager/Release_static/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/x64/Release_static/networkmanager.tlog/lib.command.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/CL.write.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/CL.read.1.tlog
networkmanager/x64/Release_static/networkmanager.tlog/CL.command.1.tlog
networkmanager/x64/Release/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/x64/Release/networkmanager.tlog/Lib.command.1.tlog
networkmanager/x64/Release/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/x64/Release/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/Debug_static/networkmanager.tlog/lib.command.1.tlog
networkmanager/Debug_static/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/Debug_static/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/Debug_static/networkmanager.tlog/CL.write.1.tlog
networkmanager/Debug_static/networkmanager.tlog/CL.read.1.tlog
networkmanager/Debug_static/networkmanager.tlog/CL.command.1.tlog
networkmanager/Debug_static/networkmanager.idb
networkmanager/Debug/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/Debug/networkmanager.tlog/lib.command.1.tlog
networkmanager/Debug/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/Debug/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/Debug/networkmanager.tlog/CL.write.1.tlog
networkmanager/Debug/networkmanager.tlog/CL.read.1.tlog
networkmanager/Debug/networkmanager.tlog/CL.command.1.tlog
networkmanager/Debug/networkmanager.idb
networkmanager/x64/Release/networkmanager.tlog/CL.write.1.tlog
networkmanager/x64/Release/networkmanager.tlog/CL.read.1.tlog
networkmanager/x64/Release/networkmanager.tlog/CL.command.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/x64/Debug_static/networkmanager.tlog/lib.command.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/Lib-link.read.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/CL.write.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/CL.read.1.tlog
networkmanager/x64/Debug_static/networkmanager.tlog/CL.command.1.tlog
networkmanager/x64/Debug_static/networkmanager.idb
networkmanager/x64/Debug/networkmanager.tlog/networkmanager.lastbuildstate
networkmanager/x64/Debug/networkmanager.tlog/lib.command.1.tlog
networkmanager/x64/Debug/networkmanager.tlog/Lib-link.write.1.tlog
networkmanager/x64/Debug/networkmanager.tlog/Lib-link.read.1.tlog
out/gdb_client.sh
out/test_server
out/lib/libvfilesystem_x64.so
out/lib/libutil_x64.so
out/lib/libbz2_x64.so
out/lib/libboost_system_x64.so
out/gdb_server_cmds.txt
out/gdb_server.sh
out/gdb_client_cmds.txt
servermanager/Release_static/servermanager.tlog/Lib-link.write.1.tlog
servermanager/Release_static/servermanager.tlog/Lib-link.read.1.tlog
servermanager/Release_static/servermanager.tlog/CL.write.1.tlog
servermanager/Release_static/servermanager.tlog/CL.read.1.tlog
servermanager/Debug/servermanager.idb
servermanager/x64/Release_static/servermanager.tlog/CL.read.1.tlog
servermanager/x64/Release_static/servermanager.tlog/CL.command.1.tlog
servermanager/x64/Release/servermanager.tlog/servermanager.lastbuildstate
servermanager/x64/Release/servermanager.tlog/Lib.command.1.tlog
servermanager/x64/Release/servermanager.tlog/Lib-link.write.1.tlog
servermanager/x64/Release/servermanager.tlog/Lib-link.read.1.tlog
servermanager/x64/Release/servermanager.tlog/CL.write.1.tlog
servermanager/x64/Release/servermanager.tlog/CL.read.1.tlog
servermanager/x64/Release/servermanager.tlog/CL.command.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/servermanager.lastbuildstate
servermanager/x64/Debug_static/servermanager.tlog/lib.command.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/Lib-link.write.1.tlog
servermanager/Release_static/servermanager.tlog/CL.command.1.tlog
servermanager/Release/servermanager.tlog/servermanager.lastbuildstate
servermanager/Release/servermanager.tlog/lib.command.1.tlog
servermanager/Release/servermanager.tlog/Lib-link.write.1.tlog
servermanager/Release/servermanager.tlog/Lib-link.read.1.tlog
servermanager/Release/servermanager.tlog/CL.write.1.tlog
servermanager/Release/servermanager.tlog/CL.read.1.tlog
servermanager/Release/servermanager.tlog/CL.command.1.tlog
servermanager/Debug/servermanager.tlog/servermanager.lastbuildstate
servermanager/Debug/servermanager.tlog/lib.command.1.tlog
servermanager/Debug/servermanager.tlog/Lib-link.write.1.tlog
servermanager/Debug/servermanager.tlog/Lib-link.read.1.tlog
servermanager/Debug/servermanager.tlog/CL.write.1.tlog
servermanager/Debug/servermanager.tlog/CL.read.1.tlog
servermanager/Debug/servermanager.tlog/CL.command.1.tlog
servermanager/x64/Debug/servermanager.tlog/Lib-link.write.1.tlog
servermanager/x64/Debug/servermanager.tlog/Lib-link.read.1.tlog
servermanager/x64/Debug/servermanager.tlog/CL.write.1.tlog
servermanager/x64/Debug/servermanager.tlog/CL.read.1.tlog
servermanager/x64/Debug/servermanager.tlog/CL.command.1.tlog
servermanager/x64/Debug/servermanager.idb
servermanager/sv_nwm_udpconnection.o
servermanager/sv_nwm_udp_session.o
servermanager/sv_nwm_tcpconnection.o
servermanager/sv_nwm_tcp_session.o
servermanager/sv_nwm_sessionhandle.o
servermanager/sv_nwm_session.o
servermanager/sv_nwm_serverclient.o
servermanager/sv_nwm_recipientfilter.o
servermanager/sv_nwm_packets.o
servermanager/sv_nwm_manager.o
servermanager/sv_nwm_connection.o
servermanager/Release_static/servermanager.tlog/servermanager.lastbuildstate
servermanager/Release_static/servermanager.tlog/lib.command.1.tlog
servermanager/x64/Release_static/servermanager.tlog/servermanager.lastbuildstate
servermanager/x64/Release_static/servermanager.tlog/lib.command.1.tlog
servermanager/x64/Release_static/servermanager.tlog/Lib-link.write.1.tlog
servermanager/x64/Release_static/servermanager.tlog/Lib-link.read.1.tlog
servermanager/x64/Release_static/servermanager.tlog/CL.write.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/Lib-link.read.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/CL.write.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/CL.read.1.tlog
servermanager/x64/Debug_static/servermanager.tlog/CL.command.1.tlog
servermanager/x64/Debug_static/servermanager.idb
servermanager/x64/Debug/servermanager.tlog/servermanager.lastbuildstate
servermanager/x64/Debug/servermanager.tlog/lib.command.1.tlog
test_client/test_client.vcxproj
test_client/main.o
test_client/client.o
test_client/Debug/vc120.idb
test_client/Debug/test_client.tlog/test_client.lastbuildstate
test_client/Debug/test_client.tlog/link.write.1.tlog
test_client/Debug/test_client.tlog/link.read.1.tlog
test_client/Debug/test_client.tlog/link.command.1.tlog
test_client/Debug/test_client.tlog/cl.command.1.tlog
test_client/Debug/test_client.tlog/CL.write.1.tlog
test_client/Debug/test_client.tlog/CL.read.1.tlog
test_server/Debug_static/vc140.idb
test_server/Debug_static/test_server.tlog/unsuccessfulbuild
test_server/Debug_static/test_server.tlog/test_server.lastbuildstate
test_server/Debug_static/test_server.tlog/CL.write.1.tlog
test_server/Debug_static/test_server.tlog/CL.read.1.tlog
test_server/Debug_static/test_server.tlog/CL.command.1.tlog
test_server/Debug/vc140.idb
test_server/Debug/test_server.tlog/unsuccessfulbuild
test_server/Debug/test_server.tlog/test_server.lastbuildstate
test_client/x64/Release/test_client.tlog/link.read.1.tlog
test_server/x64/Debug/test_server.tlog/link.command.1.tlog
test_server/x64/Debug/test_server.tlog/CL.write.1.tlog
test_server/x64/Debug/test_server.tlog/CL.read.1.tlog
test_server/x64/Debug/test_server.tlog/CL.command.1.tlog
test_server/test_server.vcxproj.filters
test_server/test_server.vcxproj
test_server/serverclient.o
test_server/serverclient.h
test_server/serverclient.cpp
test_server/server.o
test_server/server.h
test_server/server.cpp
test_server/main.o
test_server/main.cpp
test_server/x64/Release/test_server.tlog/link.command.1.tlog
test_server/x64/Release/test_server.tlog/CL.write.1.tlog
test_server/x64/Release/test_server.tlog/CL.read.1.tlog
test_server/x64/Release/test_server.tlog/CL.command.1.tlog
test_server/x64/Debug/vc140.idb
test_server/x64/Debug/test_server.tlog/test_server.lastbuildstate
test_server/x64/Debug/test_server.tlog/link.write.1.tlog
test_server/x64/Debug/test_server.tlog/link.read.1.tlog
test_client/x64/Debug/test_client.tlog/link.read.1.tlog
test_client/x64/Debug/test_client.tlog/link.command.1.tlog
test_client/x64/Debug/test_client.tlog/CL.write.1.tlog
test_client/x64/Debug/test_client.tlog/CL.read.1.tlog
x64/Debug/test_client.exe.svlMVSymbolCache2_x64
x64/Debug/symSrv.yes
test_server/x64/Release/test_server.tlog/unsuccessfulbuild
test_server/x64/Release/test_server.tlog/test_server.lastbuildstate
test_server/x64/Release/test_server.tlog/link.write.1.tlog
test_client/x64/Release/test_client.tlog/CL.command.1.tlog
test_client/x64/Debug/vc140.idb
test_client/x64/Debug/test_client.tlog/test_client.lastbuildstate
test_client/x64/Debug/test_client.tlog/link.write.1.tlog
test_client/x64/Debug/test_client.tlog/CL.command.1.tlog
test_client/test_client.vcxproj.filters
test_server/Debug/test_server.tlog/CL.write.1.tlog
test_server/Debug/test_server.tlog/CL.read.1.tlog
test_server/Debug/test_server.tlog/CL.command.1.tlog
test_client/x64/Release/test_client.tlog/test_client.lastbuildstate
test_client/x64/Release/test_client.tlog/CL.write.1.tlog
test_client/x64/Release/test_client.tlog/CL.read.1.tlog
x64/Release/test_client.ipdb
x64/Release/test_client.iobj
test_client/x64/Release/test_client.tlog/link.write.1.tlog
x64/Release/test_server.ipdb
x64/Release/test_server.iobj
test_client/x64/Release/test_client.tlog/link.command.1.tlog
test_server/x64/Release/test_server.tlog/link.read.1.tlog
test_client/main.cpp
test_client/client.h
test_client/client.cpp
